body{
    font-family: "Century Gothic", serif;
}

.jumbotron{
    background-color: cornflowerblue;
    color: white;
}

hr{
    width: 100px;
    border-top: 3px solid cornflowerblue;
}

#about{
    /*height: 300px;*/
    background-color: white;
}

#pendidikan{
    /*height: 500px;*/
}

.footer{
    background-color: cornflowerblue;
    color: white;
}

.jumbotron img{
    width: 200px;
    height: 200px;
    border: 4px solid white;
}

@media (min-width: 320px) and (max-width: 480px) {

}